@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$fontFamily: 'Open Sans', sans-serif;

html{
  box-sizing: border-box;
}
*,*:before,*:after{
  background-size: inherit;
}

.scroll-container {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #DCEDC8;
    border-radius: 20px;
    //border: 1px solid #263b26;
  }
}

ul, ol{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}

.text-body-1,
.text-body-2,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
  font-family: $fontFamily !important;
}

.width-app{
  max-width: 780px;
}
.user-select-hidden {
  user-select: none;
}
.v-btn{
  padding: 0;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.v-container{
  padding: 0;
}
